.tts textarea {
    width: 100%;
    resize: none;
    height: calc(100vh - 250px);
    box-sizing: border-box;
}

.tts {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.buttons {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.buttons > * {
    margin: 10px;
}

.ocr {
    max-width: calc(100% - 20px);
}

.currentReading {
    background-color: rgba(255, 255, 0, 0.4);
}

.readingText {
    margin: 15px 0;
    cursor: pointer;
}

.tts audio {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cyan;
}