.gpt {
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.chatbox {
    background-color: gray;
    min-height: 100px;
}

.inputs {
    display: flex;
}

.inputs input[type=text] {
    flex: 4;
}

.disclaimer {
    text-align: center;
}

.left, .right {
    width: 70%;
    margin: 20px 0;
}

.left div, .right div {
    margin-top: 10px;
    display: inline-block;
    background-color: #0033AA;
    padding: 15px;
    border-radius: 15px;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
    text-align: right;
}

.gpt form {
    position: sticky;
    bottom: -10px; 
    border: 1px solid cyan;
    border-radius: 10px;
    width: 99%;
}