.weather > input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.weather textarea {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 15px;
    resize: vertical;
}