.tooltip {
    background-color: #555555;
    padding: 5px 10px 5px 10px;
    /* transform: translate(-50%, -50%); */
}

.tooltip h3 {
    margin: 5px 0;
    text-align: center;
}

.tooltip table {
    font-size: 18px;
    line-height: 1;
}

.tooltip td:first-child {
    padding-right: 20px;
    font-size: 20px;
}