.headerbar {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.headerbar > div:first-child {
    width: 78px;
}

/* @media screen and (max-width: 720px) {
    .headerbar > span {
        display: none;
    }
} */

.nameHeader {
    display: flex;
    text-align: center;
    overflow: hidden;
}

.loginbutton {
    text-align: right
}

.linklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid cyan;
    border-radius: 10px;
    width: 260px;
    box-sizing: border-box;
    background-color: rgba(30, 30, 30, 0.4);
}

.linklist span {
    margin: 12px 0;
}

.linkdivider {
    padding-top: 60px;
}

.burgermenu {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 3px;
    cursor: pointer;
    width: 28px;
}

.burgerbar {
    height: 3px;
    background-color: white;
    margin: 2px 0;
}