.headerbar {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.headerbar > * {
    flex: 1;
}

.loginbutton {
    display: flex;
    justify-content: flex-end;
}

.linklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.linklist span {
    margin: 20px 0;
}

.linkdivider {
    padding-top: 60px;
}

.burgermenu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 3px;
    cursor: pointer;
    width: 28px;
}

.burgerbar {
    height: 3px;
    background-color: white;
    margin: 2px 0;
}