.visualizer canvas {
    width: 100%;
    height: calc(100vw/16*9);
}

.visualizer div {
    margin: 30px 0;
}

.visualizer div > * {
    margin: 0 5px;
}

.visualizer canvas {
    cursor: pointer;
    margin-bottom: 35px;
}

canvas.full {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}