@import url("https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css");

.tts {
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tts > input {
    width: 60px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttons > * {
    margin: 10px;
}

.ocr {
    max-width: calc(100% - 20px);
}

.currentReading {
    background-color: rgba(255, 255, 0, 0.4);
}

.readingText {
    margin: 15px 0;
    cursor: pointer;
}

.tts audio {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cyan;
}

.quill {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
}

.quill iframe {
    width: 70%;
    aspect-ratio: 16/9;
    margin-left: auto;
    margin-right: auto;
}

.quillBar {
    background-color: cyan;
}