.notes {
    padding: 10px;
}

.parentContainer > span {
    cursor: pointer;
}

.noteItem > * {
    margin: 0 10px;
}

.parentContainer > span:hover {
    color: cyan;
}

.noteParent:not(.topLevel) {
    margin-left: 6px;
    padding-left: 12px;
    border-left: 1px solid cyan;
}

.noteParent:not(.opened) {
    display: none;
}

.parentContainer {
    margin: 12px 0;
    overflow: hidden;
    line-height: 1.7;
}