.notes {
    padding: 10px;
}

.noteItem {
    padding: 10px 0;
}

.noteItem > span, .parentContainer > span {
    cursor: pointer;
}

.noteItem > * {
    margin: 0 10px;
}

.noteItem > span:hover, .parentContainer > span:hover {
    color: cyan;
}

.noteParent {
    margin-left: 30px;
}

.noteParent:not(.opened) {
    display: none;
}

.parentContainer {
    margin: 24px 0;
    padding: 8px;
    overflow: hidden;
}

.parentContainer.hasChildren {
    border: 1px solid cyan;
}