.graphcontainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

/* .dayswitcher {
    text-align: center;
} */

.dayswitcher input {
    margin: 5px 10px;
}

.weatherHeader {
    text-align: center;
}

.weatherHeader > a {
    margin-bottom: 10px;
}