.planner {
    padding: 15px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.buttons span {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.buttons input {
    margin: 5px 2px;
}

.planner textarea {
    overflow: hidden;
    resize: none;
    height: auto;
    flex: 4;
    min-width: 170px;
    box-sizing: border-box;
    padding: 10px;
}

/* TASK LIST */

.tasklist {
    margin: 25px 15px;
}

.taskcell {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap-reverse;
}

.taskcell.done {
    opacity: 0.4;
}

.taskdetails {
    display: flex;
    flex: 1;
    min-width: 180px;
    padding-top: 15px;
    padding-bottom: 5px;
    border: 1px 
    solid cyan;
    flex-wrap: wrap-reverse;
}

.taskdetails > *:last-child {
    margin-left: auto;
    margin-top: 0;
}

.taskdetails > * {
    margin: 5px 10px;
}

/* .planner .task-list th {
    padding: 0 15px;
}

.planner .task-list td {
    text-align: center;
    vertical-align: middle;
    padding: 5px 15px;
}

.planner .task-list tr.done {
    opacity: 0.2;
}

.planner .task-list td:nth-child(2), .planner .task-list th:nth-child(2) {
    width: 130px;
}
.planner .task-list td:nth-child(3), .planner .task-list th:nth-child(3) {
    width: 140px;
}
.planner .task-list td:nth-child(4), .planner .task-list th:nth-child(4) {
    width: 50px;
}

.planner .task-list td:nth-child(5), .planner .task-list th:nth-child(5) {
    width: 30px;
}

.planner .task-list table, .planner .task-list table input, .task-list table textarea {
    width: 100%;
} */