.account form {
    width: 250px;
}

.account {
    text-align: center;
}

.account > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.account input {
    width: 100%;
}